html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* site.css */
#sidebar .nav-link {
    padding-left: 0.5rem;
}

    #sidebar .nav-link.active {
        background-color: rgba(255,255,255,0.06);
        border-radius: 6px;
    }

@media (max-width: 767px) {
    #sidebar {
        display: none;
    }
    /* you can add a mobile toggle later */
}
